/.idea/copilot.data.migration.agent.xml
/.idea/copilot.data.migration.ask.xml
/.idea/copilot.data.migration.ask2agent.xml
/.idea/copilot.data.migration.edit.xml
/.idea/memristor-analysis.iml
/.idea/misc.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
/.idea/workspace.xml
__pycache__/
*.pyc
.venv*/
.venv/
.DS_Store
.vscode/
output/
*.html
testing_recources/
output.duckdb
.idea/
*.duckdb
out.csv
memristor_data.duckdb
memristor.duckdb
output.*
out.*
parquet_data/